<html>
<title>student record table</title>
<body>
<h1>now the times is!... :{{my_dict}}</h1>
<table align="center" bgcolor="yellow" border="5" bordercolor="blue">
<tr><th colspan="9"><font color="red">Student Details</font></th></tr>
<tr>
    <th rowspan="2">S.No</th>
    <th rowspan="2">student Name</th>
    <th colspan="6"><center>Subject Name</center></th>
    <th rowspan="2">Total Marks</th>
</tr>
<tr>
    <th>Telugu</th>
    <th>English</th>
    <th>Hindi</th>
    <th>Maths</th>
    <th>science</th>
    <th>social</th>
</tr>
<tr>
    <td>1</td>
    <td>Girish</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>540</td>
</tr>  
<tr>
    <td>1</td>
    <td>Girish</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>540</td>
</tr>  
<tr>
    <td>2</td>
    <td>V arish</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>540</td>
</tr>  
<tr>
    <td>3</td>
    <td>Sirish</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>540</td>
</tr>  
<tr>
    <td>4</td>
    <td>Marish</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>540</td>
</tr> 
<tr>
    <td>5</td>
    <td>Harish</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>90</td>
    <td>540</td>
</tr>  
<tr><td colspan="9"><marquee><font color="red">This Student Details in 2023</font></marquee></td></th></tr> 