<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>
<body>
    <h1>Aggregate Employee Dashboard!..</h1>
    <h2>Average Salary:{{avg}}</h2>
    <h2>Maximum Salary:{{max}}</h2>
    <h2>Minimum Salary:{{min}}</h2>
    <h2>Total Salary:{{sum}}</h2>
    <h2>No of Employee:{{count}}</h2>
</body> 
</html>