<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style media="screen">
        body{
            background:yellow;
        
    }
    span{
        color: blue;
    }
</style>
</head>
<body>
    <h1>Hello friend nothe time is:{{date}}</h1>
    <h2>course Name:{{name}}</h2>
    <h2>Prerequisite:{{prerequisite}}</h2>
    <li>
        <li>it is easy way to get job</li>
        <li>it is very helf full for freshers</li>
    </li>
    <h1>hello friend,<span>{{msg}}</span></h1>
    <h1>now the server time is:,<span>{{date}}</span></h1>
    <h1>astrology for jagadesh,<span>{{msgs}}</span></h1>
    <h1>very soon you will get married with <span>{{names}}</span></h1>
    
</body>
</html>